<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ site.title }} - {{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-adsense-account" content="ca-pub-6690628925445882">
  <link rel="shortcut icon" href="https://coderic.org/favicon.ico" type="image/x-icon">
  <link rel="icon" type="image/svg-xml" href="https://coderic.org/favicon.svg">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500&amp;display=swap" rel="stylesheet">
  <meta name="theme-color" content="#1976d2">
  <link rel="alternate" href="https://coderic.org/es/" hreflang="es">
  <link rel="alternate" href="https://coderic.org/" hreflang="x-default">
  <meta name="author" content="Coderic">
  <meta name="title" content="Coderic">
  <meta name="description"
  content="Corporation Oriented to the Development of Engineering of Resources Information Commercial">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
  <script src="https://cdn.auth0.com/js/auth0/9.28.0/auth0.min.js"></script>
  <script type="text/javascript">
    var webAuth = new auth0.WebAuth({
      clientID: 'In43D8hfptI5B17Xo7XZX4aBkhfMuH56',
      domain: 'auth.coderic.org',
      redirectUri: 'https://'+window.location.hostname+'/',
      audience: `https://coderic.eu.auth0.com/api/v2/`,
      scope: 'read:current_user',
      responseType: 'token id_token'
    });
    
    logout = () => webAuth.logout({
        returnTo: 'https://' +window.location.hostname + '/'
    });

    $(document).ready(function() {
    
    
    webAuth.checkSession(
      {
        audience: `https://coderic.eu.auth0.com/api/v2/`,
        scope: 'read:current_user'
      }, 
      function(err, result) {
        if (err || !result || !result.accessToken) {
          $(".guest").show();
          $(".authenticated").hide();
        } else {
          $(".guest").hide();
          $(".authenticated").show();
        }
      }
      );
    });
  </script>
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  {% for localized_page in localized_pages %}
  {% unless localized_page.locale == page.locale %}
  <link rel="alternate" hreflang="{{ localized_page.lang }}" href="{{ site.url }}{{ site.baseurl }}{{ localized_page.url }}">
  {% endunless %}
  {% endfor %}
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Corporation",
      "name": "Coderic",
      "url": "https://coderic.org/",
      "logo": "https://coderic.org/assets/img/coderic-isotipo.svg",
      "contactPoint": [
        {
          "@type": "ContactPoint",
          "contactType": "technical support",
          "email": "coderic@coderic.org",
          "availableLanguage": [
            "es",
            "en"
          ]
        },
        {
          "@type": "ContactPoint",
          "contactType": "billing support",
          "email": "coderic@coderic.org",
          "availableLanguage": [
            "es",
            "en"
          ]
        },
        {
          "@type": "ContactPoint",
          "contactType": "bill payment",
          "email": "admin@coderic.org",
          "availableLanguage": [
            "es",
            "en"
          ]
        },
        {
          "@type": "ContactPoint",
          "contactType": "sales",
          "email": "admin@coderic.org",
          "availableLanguage": [
            "es",
            "en"
          ]
        }
      ],
      "sameAs": [
        "https://x.com/Coderic",
        "https://linkedin.com/company/coderic/",
        "https://github.com/Coderic"
      ]
    }
    </script>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-91ST27VW59"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-91ST27VW59');
  </script>
</head>

<body>
  <div class="App">
    <div>
      {{ content }}
    </div>
  </div>
  <noscript>Please enable JavaScript to continue using this application.</noscript>
</body>

</html>
